<template name="authorProfile">
	<div class="container">
		<div class="row need-top-margin">
			<div class="col-md-4">
				<div class="profile-pic">
					<img src="{{profilePic}}" class="profile-pic img-circle" width="250px">				
				</div>
				<hr>
				<h3>{{name}}</h3>
				<h5>{{username}}</h5>
				<hr>
				<p>{{bio}}</p>	
				<hr>
				<ul class="list-inline">
					<li><a href="{{facebook}}"><i class="fa fa-facebook"></i></a></li>
					<li><a href="{{google}}"><i class="fa fa-google"></i></a></li>
					<li><a href="{{twitter}}"><i class="fa fa-twitter"></i></a></li>
					<li><a href="{{website}}"><i class="fa fa-globe"></i></a></li>
				</ul>
				<hr>	
			</div>
			<div class="col-md-8">
				<h3>{{articleCount}} Posts by <strong>{{username}}</strong> </h3>
				{{#each articles}}
					{{> postThumb}}
				{{/each}}
			</div>
		</div>
		
	</div>
</template>